@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");
:root {
  --color-body: #b6cbce;
  --color-heading: #eef3db;
  --color-base: #363333;
  --color-base2: #272121;
  --color-base2: #0a0707;
  --color-brand: #e16428;
  --color-brand2: #ffffff;
  --sidebar-width: 240px;
  --font-base: "Bai Jamjuree";
}

body {
  background-color: var(--color-base2);
  color: var(--color-body);
  font-family: var(--font-base), sans-serif;
  /* test */
  background-color: #0a0707;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: 700;
}
:not(.person) h5 {
  color: var(--color-brand);
}

.person p {
  color: var(--color-brand);
}

p {
  font-size: 1.4rem;
}
a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand);
}

img {
  width: 100%;
}
.text-brand {
  color: var(--color-brand);
}
.bg-base {
  background-color: var(--color-base);
}
.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.439);
}

.shadow-effect {
  transition: all 0.5s;
}
.shadow-effect:hover {
  box-shadow: 0 0 0 2px var(--color-body);
}
.iconbox {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: var(--color-brand2);
  color: black;
}

/*  NAV BAR   */
.navbar {
  background-color: var(--color-base);
}
.navbar .nav-link {
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.navbar .nav-link:hover {
  color: var(--color-brand);
}

.navbar .nav-link.active {
  color: #e16428;
}

#home h1 {
  margin-top: 30px; /* Ajusta el valor según sea necesario */
}
/* ----------------- */

@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidebar-width);
    background: linear-gradient(#00000005, #00000000),
      url(../images/background.png);
    /* background-image: linear-gradient(to bottom, #000000, #3c1a1f, #742c2e, #ad4332, #e16428); */
    background-size: cover;
    background-position: center;
  }
  .navbar-brand img {
    border: 3px solid var(--color-brand);
  }
  /* CONTENT WRAPPER */
  #content-wrapper {
    padding-left: var(
      --sidebar-width
    ); /* Comienza desde la anchura del nav   */
  }
}

/* BTN */
.btn {
  padding: 12px 28px;
  font-weight: 700;
}

.btn-brand {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  color: #fafafa;
}
.btn-brand:hover,
.btn-brand:focus {
  background-color: var(--color-brand2);
  border-color: var(--color-base2);
  color: black;
  transition: 0.3s ease-in-out;
}

.link-custom {
  font-weight: 700;
  position: relative;
}
.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-brand2);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}
.link-custom:hover::after {
  width: 100%;
}

/* CARD */
.card-custom .card-custom-image {
  overflow: hidden;
}
.card-custom .card-custom-image img {
  transition: all 1.4s ease;
  aspect-ratio: 16 / 9 !important;
  object-fit: cover;
}

.card-custom:hover .card-custom-image img {
  transform: scale(1.1);
  transition: 0.5s ease;
}

/* review */
.review.shadow-effect.bg-base.p-4.rounded-4 {
  height: 100%;
}
/* CONTACTO / CONTACT */

#contact .form-control:focus {
  background-color: var(--color-base2);
  color: white;
  transition: 0.5s ease;
}
#contact .form-control::placeholder {
  color: rgb(0, 0, 0);
}

#contact input.form-control {
  height: 44px;
}

#reviews .card-custom-image img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

/*   IMG SECCION   */

.section-custom-image {
  padding: 0;
  border: solid 2px blue;
  height: 30vh;
  display: flex;
}
.section-custom-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*PLAYER*/

.Player {
  width: 300px;
  height: 425px;
  box-shadow: 0 0 5px #bbb;
}
.Player__cover {
  width: 300px;
  height: 385px;
  background-image: url("../images/MUSICA_ME_NECESITO.PNG");
  background-size: cover;
  background-position-x: -170px;
}
.Player__lyrics {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.Player__lyrics .line {
  display: flex;
  margin-bottom: 20px;
  width: 90%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 13px;
  line-height: 16px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.Player__track {
  width: 0%;
  height: 3px;
  background-color: #f44336;
}

/*LYRIC SECTION */
.letra {
  position: relative;
}
.letra::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/ME_NECESITO_background.PNG);
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}
/*//LYRIC SECTION */

/*  SOCIAL */
/* SOCIAL ICONS */

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-base);
  border-radius: 100px;
  font-size: 24px;
}

.softr-back-to-top-button {
  bottom: 21px !important;
}
